
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Laboratorio 2 MVC</title>
    <script src="~/Source/js/jquery-3.5.1.min.js"></script>
    <link href="~/Source/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Source/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div>
    </div>

    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
