
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h1>Suma de 2 numeros</h1>
        <br /><br />
        <form name="FrmSuma" action="VisualizarSuma" method="post">
            <label>Ingrese Numero 1: </label>
            <input type="text" name="txtN1" /><br /><br />

            <label>Ingrese Numero 2: </label>
            <input type="text" name="txtN2" /><br /><br />

            <input type="submit" value="Calcular" /><br /><br />
        </form>
    </div>
</body>
</html>
