
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Reverse</title>
</head>
<body>
    <div>
        <h1>Listar Meses en Reversa</h1>
        <br />
        @Html.TextAreaFor(m => ViewData["Resultado"], new { rows = "20", cols = "10" })
        <br />
    </div>
</body>
</html>
